*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  margin: 1rem 0 4rem;
  text-align: center;

    h1 {
      margin-bottom: 0.5rem;
    }

    p {
      margin-top: 0;
    }
}

.menu {
  margin-right: 3rem;
}

.menuNavList {
  display: flex;
  justify-content: center;
}

.menuNavListItem {
  margin: 0.5rem;

    input {
      margin-left: 1rem;
      width: 3rem;
    }

}

.borderColor {
  margin: 0 1rem;
}

.courtContainer {
  margin: 2rem auto;
  max-width: 95vw;
}

.gym {
  background: #DFBB85;
  border: 1px dashed magenta;
  min-width: 90vw;
}

.courtBorderLine {
  border-color: maroon;
  margin: 1rem 0;
  min-width: 71.2%;
  max-width: 100%;
  max-height: 100%;
}

.courtOuterGameLine {
  box-shadow: inset 0 0 0 0.25rem black;
  width: 100%;
  max-width: 756px;
  height: 100%;
}

.courtFloor {
  background: #DFBB85;
  display: flex;
  justify-content: stretch;
  width: 100%;
  max-width: 756px;
  height: 450px;
}

.leftCourtArea {
  background: #DFBB85;
  border: 3px solid black;
  border-right: none;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  min-width: 378px;
  height: 100%;
  margin: 0;
  padding: 0;

  .leftLaneArea {
    background: #DFBB85;
    border: 3px solid black;
    border-right: none;
    border-left: none;
    height: 20%;
    min-height: 90px;
    min-width: 175px;

    .leftLaneMarkingContainer {
      display: flex;
      justify-content: space-around;
    }

    .leftLaneTopMarkings, .leftLaneBottomMarkings {
      background: black;
      width: 3px;
      height: 0.5rem;
      position: relative;
      top: -0.5rem;

      &:first-of-type {
        margin-left: 2.5rem;
        width: 12px;
      }

    }

    .leftLaneBottomMarkings {
      top: 4.8rem;
    }

    .leftGoalContainer {
      display: flex;

      .leftGoalBackboard {
        background: #FA8320;
        width: 3px;
        height: 45px;
        margin-left: 36px;
      }

      .leftGoalMount {
        background: #FA8320;
        width: 0.25rem;
        height: 3px;
        margin: auto 0;
      }

      .leftGoalRim {
        border: 3px solid #FA8320;
        border-radius: 50%;
        min-width: 1.5rem;
        height: 1.5rem;
        margin: auto 0;
      }

    }

  }

  .leftKeyArea {
    background: #DFBB85;
    align-self: center;
    height: 20%;
    min-height: 90px;
    min-width: 50px;
    border-left: none;
    border: 3px solid black;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
  }

  .leftThreePointArea {
    background: transparent;
    align-self: center;
    height: 85%;
    min-width: 225px;
    border: 3px solid black;
    border-left: none;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
    top: 0;
    left: -60%;
  }

}

.centerCircle {
  border: 3px solid black;
  border-radius: 50%;
  min-width: 6rem;
  height: 6rem;
  position: relative;
  z-index: 0;
}

.centerCourtLine {
  background: black;
  width: 3px;
  height: 100%;
}

.rightCourtArea {
  background: #DFBB85;
  border: 3px solid black;
  border-left: none;
  justify-content: flex-end;
  width: 50%;
  min-width: 378px;
  height: 100%;
  margin: 0;
  padding: 0;

  .rightLaneArea {
    background: #DFBB85;
    border: 3px solid black;
    border-left: none;
    border-right: none;
    height: 20%;
    min-height: 90px;
    min-width: 175px;

    .rightLaneMarkingContainer {
      display: flex;
      justify-content: space-around;
    }

    .rightLaneTopMarkings, .rightLaneBottomMarkings {
      background: black;
      width: 3px;
      height: 0.5rem;
      position: relative;
      top: -0.5rem;

      &:last-of-type {
        margin-right: 2.5rem;
        width: 12px;
      }

    }

    .rightLaneBottomMarkings {
      top: 4.8rem;
    }

    .rightGoalContainer {
      display: flex;
      justify-content: flex-end;

      .rightGoalBackboard {
        background: #FA8320;
        width: 3px;
        height: 45px;
        margin-right: 36px;
      }

      .rightGoalMount {
        background: #FA8320;
        width: 0.25rem;
        height: 3px;
        margin: auto 0;
      }

      .rightGoalRim {
        border: 3px solid #FA8320;
        border-radius: 50%;
        min-width: 1.5rem;
        height: 1.5rem;
        margin: auto 0;
      }

    }

  }

  .rightKeyArea {
    background: #DFBB85;
    align-self: center;
    height: 20%;
    min-height: 90px;
    min-width: 50px;
    border-left: none;
    border: 3px solid black;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
  }

  .rightThreePointArea {
    background: transparent;
    align-self: center;
    height: 85%;
    min-width: 225px;
    border: 3px solid black;
    border-right: none;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    position: relative;
    top: 0;
    right: -60%;
  }

}



footer {
  background: #607d8b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100vw;
  height: 3rem;
}
