// Global Styles

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 0.5rem;
}

input[type = "file"] {
  margin: 0 1rem;
  width: 11rem;
}

// Header

.header {
  margin: 1rem 0 2rem;
  text-align: center;

    h1 {
      margin-bottom: 0.5rem;
    }

    p {
      margin-top: 0;
    }
}

// Menu

#menuOptions {
  
  height: 100%;
  
}

.newMenu nav ul {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
  
    li {
      background: #eee;
      border: 1px solid #000;
      flex: 1;
      text-align: center;
      
        a {
          margin-left: 0.5rem;
        }
      
    }
  
}

.menuNavList {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
}

.menuNavListItem {
  background: #ccc;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  white-space: pre;

    input {
      margin-left: 0.5rem;
      margin-right: 1rem;
    }

    input[type="text"] {
      width: 6rem;
    }
    
    button {
      margin: 0 0.5rem;
      padding: 0.25rem 0.5rem;
    }
    
    .centerCirlceImageInput {
      display: flex;
      margin-left: 1rem;
    }

}

.volleyballLineColor {
  margin-right: 1rem;
}

//  Court

.courtContainer {
  margin: 2rem auto;
  max-width: 95vw;
}

.gym {
  background: #DFBB85;
  width: 1100px;
  height: 650px;
  position: relative;
}

.leftEndBorderLettering {
  position: absolute;
  left: 120px;
  top: 0;
  bottom: 10px;
  z-index: 11;


  span {
    font-weight: bold;
    font-family: 'Graduate', sans-serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

}

.rightEndBorderLettering {
  position: absolute;
  right: 118px;
  top: 10px;
  bottom: 0;
  z-index: 1;

  span {
    font-weight: bold;
    font-family: 'Graduate', cursive;
    text-align: center;
    writing-mode: vertical-lr;
  }

}

.courtBorderLine {
  margin: 1rem 0;
  min-width: 756px;
  max-height: 100%;
  position: relative;

  .courtBorderLineInner {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  
}

.courtOuterGameLine {
  box-shadow: inset 0 0 0 0.25rem black;
  width: 100%;
  height: 100%;
}

.courtFloor {
  display: flex;
  justify-content: stretch;
  width: 100%;
  min-width: 756px;
  max-width: 756px;
  height: 450px;
  position: relative;
}

.mainVolleyball {
  border: 3px solid white;
  width: 540px;
  height: 270px;
  left: 108px;
  top: 90px;
  position: absolute;
  z-index: 1;
}

.mainVolleyballAttackLines {
  border: 3px solid white;
  width: 180px;
  height: 270px;
  position: absolute;
  top: 90px;
  left: 288px;
  z-index: 1;
}

.mainVolleyballCenterLine {
  background: white;
  height:  270px;
  width: 3px;
  position: absolute;
  top: 90px;
  left: 50%;
  z-index: -1;
}

.leftCourtArea {
  background: #DFBB85;
  border: 3px solid black;
  border-right: none;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  min-width: 378px;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;

  .leftLaneArea {
    background: transparent;
    border: 3px solid black;
    border-right: none;
    border-left: none;
    height: 20%;
    min-height: 90px;
    min-width: 175px;
    position: relative;
    z-index: 1;
    
    .leftLaneAreaInner {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
    
    .leftLaneMarkingContainer {
      display: flex;
      justify-content: space-around;
    }

    .leftLaneTopMarkings, .leftLaneBottomMarkings {
      background: black;
      width: 3px;
      height: 0.5rem;
      position: relative;
      top: -0.5rem;

      &:first-of-type {
        margin-left: 2.5rem;
        width: 12px;
      }

    }

    .leftLaneBottomMarkings {
      top: 4.8rem;
    }

    .leftGoalContainer {
      display: flex;

      .leftGoalBackboard {
        background: #FA8320;
        width: 3px;
        height: 45px;
        margin-left: 36px;
      }

      .leftGoalMount {
        background: #FA8320;
        width: 0.25rem;
        height: 3px;
        margin: auto 0;
      }

      .leftGoalRim {
        border: 3px solid #FA8320;
        border-radius: 50%;
        min-width: 1.5rem;
        height: 1.5rem;
        margin: auto 0;
      }

    }

  }

  .leftKeyArea {
    background: #DFBB85;
    align-self: center;
    height: 20%;
    min-height: 90px;
    min-width: 50px;
    border-left: none;
    border: 3px solid black;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
    z-index: 1;
    
    .leftKeyAreaInner {
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        height: 100%;
        width: 100%;
      }
      
  }

  .leftThreePointArea {
    background: transparent;
    align-self: center;
    height: 85%;
    min-width: 225px;
    border: 3px solid black;
    border-left: none;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
    top: 0;
    left: -60%;

      .leftThreePointAreaInner {
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
      }
  }
  
  .leftTopSideCourt {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 50px;
    left: 250px;
    
    img {
      width: 100%;
      height: 100%;
    }
    
  }
  
  .leftBottomSideCourt {
    width: 54px;
    height: 54px;
    position: absolute;
    bottom: 50px;
    left: 250px;
    
      img {
        width: 100%;
        height: 100%;
      }
    
  }

}

.centerCircle {
  border: 3px solid black;
  border-radius: 50%;
  min-width: 6rem;
  height: 6rem;
  position: relative;
  z-index: 0;
  
  .centerCirlceInner {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    
    .centerCirlceImage {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
    
  }
  
}

.centerCourtLine {
  background: black;
  width: 3px;
  height: 100%;
  position: relative;
}

.rightCourtArea {
  background: #DFBB85;
  border: 3px solid black;
  border-left: none;
  justify-content: flex-end;
  width: 50%;
  min-width: 378px;
  height: 100%;
  margin: 0;
  padding: 0;
  
  .rightTopSideCourt {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 50px;
    right: 250px;
    
    img {
      width: 100%;
      height: 100%;
    }
    
  }
  
  .rightBottomSideCourt {
    width: 54px;
    height: 54px;
    position: absolute;
    bottom: 50px;
    right: 250px;
    
    img {
      width: 100%;
      height: 100%;
    }
    
  }

  .rightLaneArea {
    background: transparent;
    border: 3px solid black;
    border-left: none;
    border-right: none;
    height: 20%;
    min-height: 90px;
    min-width: 175px;
    position: relative;
    
      .rightLaneAreaInner {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
      }

    .rightLaneMarkingContainer {
      display: flex;
      justify-content: space-around;
    }

    .rightLaneTopMarkings, .rightLaneBottomMarkings {
      background: black;
      width: 3px;
      height: 0.5rem;
      position: relative;
      top: -0.5rem;

      &:last-of-type {
        margin-right: 2.5rem;
        width: 12px;
      }

    }

    .rightLaneBottomMarkings {
      top: 4.8rem;
    }

    .rightGoalContainer {
      display: flex;
      justify-content: flex-end;
      position: relative;

      .rightGoalBackboard {
        background: #FA8320;
        width: 3px;
        height: 45px;
        margin-right: 36px;
      }

      .rightGoalMount {
        background: #FA8320;
        width: 0.25rem;
        height: 3px;
        margin: auto 0;
      }

      .rightGoalRim {
        border: 3px solid #FA8320;
        border-radius: 50%;
        min-width: 1.5rem;
        height: 1.5rem;
        margin: auto 0;
      }

    }

  }

  .rightKeyArea {
    background: #DFBB85;
    align-self: center;
    height: 20%;
    min-height: 90px;
    min-width: 50px;
    border-left: none;
    border: 3px solid black;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    position: relative;
    z-index: 1;
    
      .rightKeyAreaInner {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        height: 100%;
        width: 100%;
      }
      
  }

  .rightThreePointArea {
    background: transparent;
    align-self: center;
    justify-content: flex-start;
    height: 85%;
    min-width: 225px;
    border: 3px solid black;
    border-right: none;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    position: relative;
    right: -60%;
    
      .rightThreePointAreaInner {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
      }
      
  }

}

// Footer

footer {
  background: #607d8b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100vw;
  height: 3rem;
}
